{{define "add"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" "Add"}}
<body>
    {{template "header" "Add"}}
    <main>
        <form method="POST">
            <input type="text" name="data" placeholder="Input data for your block" required />
            <button>Add Block</button>
        </form>
    </main>
    {{template "footer"}}
</body>
</html>
{{end}}